.workspace-item {
  padding: 12px;
  margin: 10px 0;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: #333;
  text-decoration: none;
  display: block;
}
.workspace-item:hover {
  background-color: #eaeaea;
}

.workspace-item h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}
